In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("http://raptor.kent.ac.uk/~lb514/Data/heart.csv")

In [4]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df.sum(numeric_only= True, skipna= True)

Age              49123.0
RestingBP       121540.0
Cholesterol     182498.0
FastingBS          214.0
MaxHR           125591.0
Oldpeak            814.6
HeartDisease       508.0
dtype: float64

In [17]:
df.sum(numeric_only= True, skipna= True).sum()

480288.6

In [18]:
df.groupby('Age')['HeartDisease'].mean()

Age
28    0.000000
29    0.000000
30    0.000000
31    0.500000
32    0.400000
33    0.500000
34    0.285714
35    0.363636
36    0.333333
37    0.090909
38    0.687500
39    0.133333
40    0.461538
41    0.250000
42    0.166667
43    0.458333
44    0.315789
45    0.166667
46    0.541667
47    0.578947
48    0.483871
49    0.523810
50    0.560000
51    0.428571
52    0.527778
53    0.454545
54    0.450980
55    0.585366
56    0.657895
57    0.684211
58    0.666667
59    0.657143
60    0.750000
61    0.838710
62    0.714286
63    0.766667
64    0.681818
65    0.714286
66    0.538462
67    0.800000
68    0.600000
69    0.769231
70    0.857143
71    0.400000
72    0.750000
73    1.000000
74    0.714286
75    0.666667
76    0.500000
77    1.000000
Name: HeartDisease, dtype: float64

In [19]:
df['AgeNorm'] = df['Age']/df.Age.max()

In [21]:
df['Age'].max()

77

In [20]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,AgeNorm
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.519481
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0.636364
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.480519
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.623377
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.701299
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.584416
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.883117
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,0.740260
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.740260
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.493506

In [22]:
import time as t

In [49]:
def playMode(series):
    timings = pd.Series()
    for i in range(100):
        start = t.time()
        mode = series.mode()
        end = t.time()
        duration = end - start
        timings.at[i] = duration
    avg_time = timings.mean()    
    print('Average time taken to run .mode(): ',avg_time )
    return mode

In [47]:
playMode(df['Age'])

Average time taken to run .mode():  0.0002964676016628152

0    54
Name: Age, dtype: int64

In [48]:
df['Age'].mode()

0    54
Name: Age, dtype: int64

In [ ]:
# Question 1
df.sum(numeric_only= True, skipna= True)
# Question 2
df.sum(numeric_only= True, skipna= True).sum()
# Question 3
df.groupby('Age')['HeartDisease'].mean()
# Question 4