In [1]:
import pandas as pd

In [27]:
columns = [ "Age",
"Gender",
"TB Total Bilirubin",
"DB Direct Bilirubin",
"Alkphos Alkaline Phosphotase",
"Sgpt Alamine Aminotransferase",
"Sgot Aspartate Aminotransferase",
"TP Total Protiens",
"ALB Albumin",
"A/G Ratio",
"Class"]

In [28]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00225/Indian%20Liver%20Patient%20Dataset%20(ILPD).csv',
                names = columns)

In [29]:
df

,Age,Gender,TB Total Bilirubin,DB Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,TP Total Protiens,ALB Albumin,A/G Ratio,Class
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              583 non-null    int64
 1   Gender                           583 non-null    object
 2   TB Total Bilirubin               583 non-null    float64
 3   DB Direct Bilirubin              583 non-null    float64
 4   Alkphos Alkaline Phosphotase     583 non-null    int64
 5   Sgpt Alamine Aminotransferase    583 non-null    int64
 6   Sgot Aspartate Aminotransferase  583 non-null    int64
 7   TP Total Protiens                583 non-null    float64
 8   ALB Albumin                      583 non-null    float64
 9   A/G Ratio                        579 non-null    float64
 10  Class                            583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [6]:
df.isnull().sum()

Age                                0
Gender                             0
TB Total Bilirubin                 0
DB Direct Bilirubin                0
Alkphos Alkaline Phosphotase       0
Sgpt Alamine Aminotransferase      0
Sgot Aspartate Aminotransferase    0
TP Total Protiens                  0
ALB Albumin                        0
A/G Ratio                          4
Class                              0
dtype: int64

In [31]:
df['A/G Ratio'].fillna(df['A/G Ratio'].mean(), inplace = True)

In [32]:
df

,Age,Gender,TB Total Bilirubin,DB Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,TP Total Protiens,ALB Albumin,A/G Ratio,Class
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              583 non-null    int64
 1   Gender                           583 non-null    object
 2   TB Total Bilirubin               583 non-null    float64
 3   DB Direct Bilirubin              583 non-null    float64
 4   Alkphos Alkaline Phosphotase     583 non-null    int64
 5   Sgpt Alamine Aminotransferase    583 non-null    int64
 6   Sgot Aspartate Aminotransferase  583 non-null    int64
 7   TP Total Protiens                583 non-null    float64
 8   ALB Albumin                      583 non-null    float64
 9   A/G Ratio                        583 non-null    float64
 10  Class                            583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [34]:
from category_encoders.ordinal import OrdinalEncoder

In [35]:
maplist = [{
    'col': 'Gender',
    'mapping': {'Male':0, 'Female':1}
}]

oenc = OrdinalEncoder(mapping = maplist)
df = oenc.fit_transform(df)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [37]:
X = df.iloc[:, 0:-1]

In [38]:
X

,Age,Gender,TB Total Bilirubin,DB Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,TP Total Protiens,ALB Albumin,A/G Ratio
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40
...,...,...,...,...,...,...,...,...,...,...
578,60,0,0.5,0.1,500,20,34,5.9,1.6,0.37
579,40,0,0.6,0.1,98,35,31,6.0,3.2,1.10
580,52,0,0.8,0.2,245,48,49,6.4,3.2,1.00
581,31,0,1.3,0.5,184,29,32,6.8,3.4,1.00
582,38,0,1.0,0.3,216,21,24,7.3,4.4,1.50

In [39]:
y = df.iloc[:,-1]

In [40]:
y

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Class, Length: 583, dtype: int64

In [41]:
df['Class'].unique()

array([1, 2])

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 23)
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
tree.score(X_test, y_test)

0.6986301369863014

In [43]:
import random
random_states = random.sample(range(1, 100), 10)
print(random_states)

[12, 96, 17, 10, 9, 85, 21, 84, 54, 83]

In [71]:
acc_dt = []
for rs in random_states:
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=rs)
    
    tree = DecisionTreeClassifier(random_state=rs)
    tree.fit(X_train, y_train)
    
    score = tree.score(X_test, y_test)  # returns accuracy
    acc_dt.append(score)
    print(f"Random state {rs} - Accuracy: {score:.3f}")

Random state 21 - Accuracy: 0.719
Random state 8 - Accuracy: 0.637
Random state 41 - Accuracy: 0.692
Random state 95 - Accuracy: 0.692
Random state 89 - Accuracy: 0.658
Random state 13 - Accuracy: 0.623
Random state 87 - Accuracy: 0.644
Random state 23 - Accuracy: 0.637
Random state 91 - Accuracy: 0.699
Random state 12 - Accuracy: 0.664

In [72]:
acc_dt

[0.7191780821917808,
 0.636986301369863,
 0.6917808219178082,
 0.6917808219178082,
 0.6575342465753424,
 0.6232876712328768,
 0.6438356164383562,
 0.636986301369863,
 0.6986301369863014,
 0.6643835616438356]

In [73]:
acc_mean_dt = sum(acc_dt)/len(acc_dt)

In [74]:
print('The average value for scores is:', acc_mean_dt)

The average value for scores is: 0.6664383561643834

In [51]:
df['Gender'] = df.pop('Gender')

In [52]:
df

,Age,TB Total Bilirubin,DB Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,TP Total Protiens,ALB Albumin,A/G Ratio,Class,Gender
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1,1
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,1,0
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,1,0
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1,0
...,...,...,...,...,...,...,...,...,...,...,...
578,60,0.5,0.1,500,20,34,5.9,1.6,0.37,2,0
579,40,0.6,0.1,98,35,31,6.0,3.2,1.10,1,0
580,52,0.8,0.2,245,48,49,6.4,3.2,1.00,1,0
581,31,1.3,0.5,184,29,32,6.8,3.4,1.00,1,0
582,38,1.0,0.3,216,21,24,7.3,4.4,1.50,2,0

In [53]:
x = df.iloc[:,0:-1]

In [54]:
x

,Age,TB Total Bilirubin,DB Direct Bilirubin,Alkphos Alkaline Phosphotase,Sgpt Alamine Aminotransferase,Sgot Aspartate Aminotransferase,TP Total Protiens,ALB Albumin,A/G Ratio,Class
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...
578,60,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [55]:
Y = df.iloc[:,-1]

In [56]:
Y

0      1
1      0
2      0
3      0
4      0
      ..
578    0
579    0
580    0
581    0
582    0
Name: Gender, Length: 583, dtype: int64

In [58]:
acc = []
for rs in random_states:
    X_train, X_test, y_train, y_test = train_test_split(x, Y, random_state=rs)
    
    tree = DecisionTreeClassifier(random_state=rs)
    tree.fit(X_train, y_train)
    
    score = tree.score(X_test, y_test)  # returns accuracy
    acc.append(score)
    print(f"Random state {rs} - Accuracy: {score:.3f}")

Random state 12 - Accuracy: 0.753
Random state 96 - Accuracy: 0.767
Random state 17 - Accuracy: 0.705
Random state 10 - Accuracy: 0.740
Random state 9 - Accuracy: 0.699
Random state 85 - Accuracy: 0.753
Random state 21 - Accuracy: 0.664
Random state 84 - Accuracy: 0.651
Random state 54 - Accuracy: 0.747
Random state 83 - Accuracy: 0.685

In [59]:
acc_mean = sum(acc)/len(acc)

In [60]:
print('The average value for scores is:', acc_mean)

The average value for scores is: 0.7164383561643836

In [76]:
import random
random_states = random.sample(range(1, 100), 10)
print(random_states)

[61, 79, 60, 1, 89, 96, 42, 26, 63, 29]

In [77]:
acc_rf = []
for rs in random_states:
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=rs)
    
    tree =  RandomForestClassifier(n_estimators=10, random_state=rs)
    tree.fit(X_train, y_train)
    
    score = tree.score(X_test, y_test)  # returns accuracy
    acc_rf.append(score)
    print(f"Random state {rs} - Accuracy: {score:.3f}")

Random state 61 - Accuracy: 0.719
Random state 79 - Accuracy: 0.651
Random state 60 - Accuracy: 0.705
Random state 1 - Accuracy: 0.719
Random state 89 - Accuracy: 0.719
Random state 96 - Accuracy: 0.726
Random state 42 - Accuracy: 0.747
Random state 26 - Accuracy: 0.726
Random state 63 - Accuracy: 0.740
Random state 29 - Accuracy: 0.671

In [80]:
acc_mean_rf = sum(acc_rf)/len(acc_rf)

In [82]:
print('The average value for random forest scores is:', acc_mean_rf)

The average value for random forest scores is: 0.7123287671232876

In [83]:
print('The average value for decision tree scores is:', acc_mean_dt)

The average value for decision tree scores is: 0.6664383561643834